@{
    ViewData["Title"] = "Visual Studio Assignment";
}
<body>
    
    <div id="animation">
        <p><button onclick="musicNote()">Click Me!</button></p>
        <div id="container">
            <div id="animate">
                <img src="./media/musicnote.png" width="35" height="62" onclick="musicNote()">
            </div>
        </div>
    </div>
    <div class="text-center">
        <br />
        <h1 class="display-4">Visual Studio Assignment</h1>
        <h5>This is one my favorite classical pieces.</h5>
        <p>It is called Salut d'amor, and is a piece that Edward Elgar wrote as an engagement present for his future wife.</p>
        <br />
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tYrj9jgxC8c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br />
        <div>
            <p>
                Though many might critique this version by saying it is too slow a rendition of the piece, <br />
                I believe the Berliner Philharmonic is playing it at a beautiful tempo.
            </p>
        </div>
    </div>
</body>