@{
    ViewData["Title"] = "About the Composer";
}
<h1>@ViewData["Title"]</h1>

<h4>Edward Elgar</h4>

<p>Sir Edward William Elgar, 1st Baronet, OM, GCVO (/ˈɛlɡɑːr/;[1] 2 June 1857 – 23 February 1934) was an English composer, many of whose works have entered the British and international classical concert repertoire. Among his best-known compositions are orchestral works including the Enigma Variations, the Pomp and Circumstance Marches, concertos for violin and cello, and two symphonies. He also composed choral works, including The Dream of Gerontius, chamber music and songs. He was appointed Master of the King's Musick in 1924.</p>
<br />
<p>Although Elgar is often regarded as a typically English composer, most of his musical influences were not from England but from continental Europe. He felt himself to be an outsider, not only musically, but socially. In musical circles dominated by academics, he was a self-taught composer; in Protestant Britain, his Roman Catholicism was regarded with suspicion in some quarters; and in the class-conscious society of Victorian and Edwardian Britain, he was acutely sensitive about his humble origins even after he achieved recognition. He nevertheless married the daughter of a senior British army officer. She inspired him both musically and socially, but he struggled to achieve success until his forties, when after a series of moderately successful works his Enigma Variations (1899) became immediately popular in Britain and overseas.</p>
<br />
<footer>
    Source: Wikipedia
</footer>